<%= semantic_form_for [:admin, @page], builder: ActiveAdmin::FormBuilder, url: @page.persisted? ? admin_page_path : admin_pages_path do |f| %>
    <%= f.semantic_errors %>
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#details">Page Details</a></li>
            <li><a href="#content">Content</a></li>
            <li><a href="#images">Images</a></li>
            <li><a href="#ctas">Calls to Action</a></li>
            <li><a href="#quickstarts">Quickstarts</a></li>
        </ul>
        <div class="tab-content">
            <%= f.inputs do %>
                <div id="details">
                    <h3 class="m-fieldset-subheader">Page Details</h3>
                    <%= f.input :name, label: "Title" %>
                    <%= f.input :active_admin_state_event,
                                label: 'Status',
                                as: :select,
                                collection: f.object.aasm.permitted_transitions.map { |pt| [pt[:state], pt[:event]] },
                                include_blank: false,
                                selected: f.object.aasm.permitted_transitions.find { |pt| pt[:state] == f.object.state.to_sym }[:event] %>
                    <%= f.input :page_type, label: "Page Type", include_blank: false, input_html: {data: {not: 'home_page', action: 'hide', target: '.search-image,.carousel-images', else: 'hide .single-image'}} %>
                    <%= f.input :description, label: "Description", input_html: {rows: 5} %>
                    <%= f.input :page_location, include_blank: true, collection: Humap::Pages::Page::LOCATIONS %>
                </div>
                
                <div id="content">
                    <h3 class="m-fieldset-subheader">Page Content</h3>
                    <div class="m-wysiwyg-container<%= " error" if f.object.errors[:content].any? %>">
                        <%= f.rich_text_area :content %>
                        <% if f.object.errors[:content].any? %>
                            <p class="inline-errors"><%= f.object.errors[:content].first %></p>
                        <% end %>
                    </div>   
                </div>

                <div id="images">
                    <div class="single-image">
                        <h3 class="m-fieldset-subheader">Page Image</h3>
                        <%= f.fields_for :image do |page_image| %>
                            <%= page_image.input :file, as: :file, hint: page_image.object.file.attached? ? ix_image_tag(page_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                            <%= page_image.input :name %>
                        <% end %>
                    </div>


                    <div class="carousel-images">
                        <h3 class="m-fieldset-subheader">Carousel Images</h3>
                        <% f.has_many :images, heading: false, allow_destroy: true do |img| %>
                            <% img.input :file, as: :file, hint: img.object.file.attached? ? ix_image_tag(img.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                            <% img.input :name %>
                        <% end %>
                    </div>

                    <div class="search-image">
                        <h3 class="m-fieldset-subheader">Search Image</h3>
                        <%= f.fields_for :search_image do |search_image| %>
                            <%= search_image.input :file, as: :file, hint: search_image.object.file.attached? ? ix_image_tag(search_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                            <%= search_image.input :name %>
                        <% end %>
                    </div>


                </div>


                <div id="ctas">
                    <h3 class="m-fieldset-subheader">Calls to Action</h3>
                    <% f.has_many :cta_blocks, heading: false, allow_destroy: true do |cta| %>
                        <% cta.input :title %>
                        <% cta.input :content %>
                        <% cta.input :url %>
                        <% cta.input :button_text %>
                    <% end %>

                </div>

                <div id="quickstarts">
                    <div class="quickstarts">
                        <h3 class="m-fieldset-subheader">Highlighted Quick Starts</h3>
                        <% f.input :highlighted_content_intro, label: "Introduction", input_html: {rows: 5} %>
                        <% f.input :quick_starts, as: :searchable_select, label: "Quick Starts" %>
                    </div>
                </div>
                
            <% end %>
        </div>
        <%= f.actions %>
    </div>


<% end %>