<%= semantic_form_for [:admin, @taxonomy], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs "Taxonomy" do %>
      <h3 class="m-fieldset-subheader">Details</h3>
      <%= f.input :name, label: "Name" %>
      <%= f.input :description, label: "Description", input_html: { rows: 5 } %>
      <%= f.input :display_as, include_blank: false, input_html: { data: { not: 'nested', action: 'hide', target: '.sub-term-fields' } } %>
  <% end%>
  <%= f.actions %>
<% end %>