<%= semantic_form_for [:admin, @overlay_group], builder: ActiveAdmin::FormBuilder, url: @overlay_group.persisted? ? admin_overlay_group_path : admin_overlay_groups_path do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs "Overlay Group" do %>
      <h3 class="m-fieldset-subheader">Details</h3>
      <%= f.input :name, label: "Name" %>

        <%= render "admin/shared/toggle_published", resource: f.object %>
      
      <h3 class="m-fieldset-subheader">Main Image <%= @overlay_group.id %></h3>
      <%= f.fields_for :image, allow_destroy: true do |overlay_group_image| %>
        <%= overlay_group_image.input :file, as: :file, hint: overlay_group_image.object.try(:file).try(:attached?) ? ix_image_tag(overlay_group_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
        <%= overlay_group_image.input :name %> 
      <% end %>
      <h3 class="m-fieldset-subheader">Content</h3>
      <div class="m-wysiwyg-container<%= " error" if f.object.errors[:content].any? %>">
        <%= f.rich_text_area :content %>
        <% if f.object.errors[:content].any? %>
          <p class="inline-errors"><%= f.object.errors[:content].first %></p>
        <% end %>
      </div>
      <%= f.input :excerpt, input_html: { rows: 5 } %>

      <h3 class="m-fieldset-subheader">Overlays</h3>
      <%= f.input :overlays, as: :searchable_select %>
  <% end%>
  <%= f.actions %>
<% end %>