<div id="login" class="m-super-admin-login">
  <h2><%= title t('active_admin.devise.super_admin.login.title') %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new" }) do |f|
    f.inputs do
      resource.class.authentication_keys.each_with_index { |key, index|
        f.input key, label: t("active_admin.devise.#{key}.title"), input_html: { autofocus: index.zero? }
      }
      f.input :password, label: t('active_admin.devise.password.title')
      f.input :remember_me, label: t('active_admin.devise.login.remember_me'), as: :boolean if devise_mapping.rememberable?
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.login.submit'), button_html: { value: t('active_admin.devise.login.submit') }
    end
  end
  %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>