<%= semantic_form_for [:admin, @quick_start], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <h3 class="m-fieldset-subheader">Quick Start Details</h3>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :url %>
    <h3 class="m-fieldset-subheader">Quick Start Image</h3>
    <%= f.fields_for :image do |qs_image| %>
      <%= qs_image.input :file, as: :file, hint: qs_image.object.file.attached? ? ix_image_tag(qs_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
      <%= qs_image.input :name, label: "Image name" %>
    <% end %>
  <% end %>
  <%= f.actions %>
<% end %>