<%= semantic_form_for [:super_admin, @tenant], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.semantic_errors %>
    <%= f.inputs do %>
        <%= f.input :name, label: "Name" %>
        <%= f.input :slug, label: "Slug" %>
        <%= f.input :custom_domain, label: "Custom Domain", placeholder: f.object.persisted? ? "#{f.object.slug}.#{ENV['BASE_DOMAIN']}" : "" %>
        <%= f.input :stylesheet, as: :text, placeholder: Rails.configuration.tenant_defaults[:stylesheet] %>
        <%= f.fields_for :site_logo, allow_destroy: false do |img| %>
            <%= img.input :file, as: :file, label: "Site logo", hint: img&.object&.file&.attached? ? ix_image_tag(img.object.file.key, url_params: {w: 100, h: 100}) : "" %>
        <% end %>

        <%= f.fields_for :map_logo, allow_destroy: false do |img| %>
            <%= img.input :file, as: :file, label: "Map logo", hint: img&.object&.file&.attached? ? ix_image_tag(img.object.file.key, url_params: {w: 100, h: 100}) : "" %>
        <% end %>
    <% end %>
    <%= f.actions %>
<% end %>