.m-record-map-picker {
  width: 60%;
  margin: 40px 20%;
}

.admin_records .trix-button-group--file-tools {
 display: none;
}

.category-container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 60%;
  margin: 40px auto;
}

.category-container .col {
  width: 30%;
  float: left;
}

.terms {
  margin-bottom: 20px;
}

.terms h3 {
  font-weight: normal;
}

.subterms {
  padding: 15px 0 15px 15px;
}

.subterms h4 {
  margin-bottom: 15px;
  font-weight: normal;
}