.index_as_sortable a.member_link {
  @include primary-button($primary-color, white);
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
}

.index_as_sortable a.member_link.view_link {
  display: none;
}

.index_as_sortable a.member_link.taxonomy_link {
  float: left;
}

.index_as_sortable h3.cell {
  font-weight: normal;
  color: $text-color !important;
  padding-top: 16px !important;
}

.index_as_sortable .cell.right {
  float: right;
  display: block;
  width: auto;
  text-align: right;
}

.index_as_sortable .cell.left {
  float: left;
  display: block;
  width: 50%;
  text-align: left;
}

.index_as_sortable .status_tag {
  margin-left: 12px;
  font-size: 12px;
}

