#login.m-super-admin-login {
  border-color: $super-admin-colour;
}

.m-super-admin-login input[type="submit"] {
  background-color: $super-admin-colour;
}

.m-super-admin-login a {
  color: $super-admin-colour;
}