.trail_records .inputs {
    position: relative;
}

.trail_records .inputs ol {
    margin-left: 25px;
}

.trail_records .inputs ol li {
    display: inline-block;
}

.trail_records .inputs li.searchable_select {
    width: 65%;
}

.trail_records .inputs li.input .select2-container {
    width: 80% !important;
}

.trail_records .inputs li.handle {
    border: 1px solid #fff;
}

.trail_records .inputs li.handle, 
.trail_records .inputs li.handle.ui-sortable-handle {
    position: absolute;
    left: -3px;
    top: 8px;
    width: 22px;
    color: transparent;
    &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0c9";
        position: absolute;
        left: 0;
        color: #000;
    }
}

.trail_records .inputs li.input label {
    width: auto !important;
}
