<%= semantic_form_for [:admin, @collection], builder: ActiveAdmin::FormBuilder, url: @collection.persisted? ? admin_collection_path : admin_collections_path do |f| %>
  <%= f.semantic_errors %>
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#details">Details</a></li>
            <li><a href="#records">Records</a></li>
            <li><a href="#sharing">Sharing</a></li>
        </ul>
        <div class="tab-content">
            <%= f.inputs do %>
                <div id="details">
                    <h3 class="m-fieldset-subheader">Details</h3>
                    <%= f.input :name, label: "Title" %>
                    <%= render "admin/shared/toggle_published", resource: f.object %>
                    <h3 class="m-fieldset-subheader">Image</h3>
                    <%= f.fields_for :image, allow_destroy: true do |collection_image| %>
                        <%= collection_image.input :file, as: :file, hint: collection_image.object.file.attached? ? ix_image_tag(collection_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                        <%= collection_image.input :name %>
                    <% end %>
                    <h3 class="m-fieldset-subheader">Content</h3>
                    <div class="m-wysiwyg-container<%= " error" if f.object.errors[:content].any? %>">
                        <%= f.rich_text_area :content %>
                        <% if f.object.errors[:content].any? %>
                            <p class="inline-errors"><%= f.object.errors[:content].first %></p>
                        <% end %>
                    </div>
                    <%= f.input :excerpt, input_html: { rows: 5 } %>
                </div>
                <div id="records">
                    <h3 class="m-fieldset-subheader">Collection Records</h3>
                    <%= f.input :records, as: :searchable_select %>
                </div>
                <%= render "admin/shared/sharing", resource: f.object %>



            <% end%>
        </div>
    </div>

  <%= f.actions %>
<% end %>