<%= semantic_form_for [:admin, @overlay], builder: ActiveAdmin::FormBuilder, url: @overlay.persisted? ? admin_overlay_path : admin_overlays_path do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
      <h3 class="m-fieldset-subheader">Overlay Details</h3>
      <%= f.input :name, label: "Name" %>
      <%= f.input :url, label: "Url" %>
      <%= f.input :overlay_groups, label: "Overlay Groups", as: :searchable_select %>
      <%= f.input :overlay_type, label: "Overlay Type" %>
        <%= render "admin/shared/toggle_published", resource: f.object %>
      
  <% end%>
  <%= f.actions %>
<% end %>