<%= semantic_form_for [:admin, site_meta], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>

    <h3 class="m-fieldset-subheader">General Settings</h3>
    <%= f.inputs do %>
      <%= f.input :site_title %>
      <%= f.input :website %>
      <%= f.input :contact_email %>
    <% end %>

    <h3 class="m-fieldset-subheader">Starting Point</h3>
    <div id="location">
        <div id="record-map" class="m-record-map-picker"></div>
        <%= f.input :lng, input_html: { id: "longitude", value: f.object.lng } %>
        <%= f.input :lat, input_html: { id: "latitude", value: f.object.lat } %>
    </div>

    <h3 class="m-fieldset-subheader">Social Media Links</h3>
    <%= f.inputs do %>
      <%= f.input :twitter %>
      <%= f.input :facebook %>
      <%= f.input :instagram %>
    <% end %>

    <h3 class="m-fieldset-subheader">Footer Logos</h3>
    <% f.has_many :logos, heading: false, allow_destroy: true do |logo| %>
      <%# this is disgusting, but seemingly the only way to get AA to initialise a logo with image fields %>
      <% logo.object.image = Attachments::Image.new unless logo.object.persisted? %>
      <%= logo.fields_for :image, allow_destroy: true do |img| %>
        <% img.input :file, as: :file, hint: img&.object&.file.attached? ? ix_image_tag(img.object.file.key, url_params: {w: 100, h: 100}) : "" %>
        <% img.input :name %>
      <% end %>
      <% logo.input :link_to %>
        <% logo.input :size %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
