$super-admin-colour: #ffc750;

.header .site_title {
  text-align: left;
}

.header .site_title #site_title_image {
  padding-left: 20px;
}

h3.m-fieldset-subheader {
  width: 60%;
  margin: 40px 20% 20px;
  font-weight: normal;
}

p.help-text {
  width: 60%;
  margin-left: 20%;
}

h4.m-fieldset-subheader {
  width: 60%;
  margin: 40px 20% 20px;
  font-weight: normal;
}

#login h2 {
  padding-top: 100px;
  background: asset_url('logo-humap.svg') no-repeat center top;
  background-size: 150px;
}

.select2-container {
  margin: auto 20%
}

.has_many_add, .has_many_remove {
  margin-left: 25%;
}

.select2-container {
  margin: 0;
}

#active_admin_content form .actions .action {
  float: right;
  margin-bottom: 10px;
}