<%= semantic_form_for [:admin, @trail], builder: ActiveAdmin::FormBuilder, url: @trail.persisted? ? admin_trail_path : admin_trails_path do |f| %>
    <%= f.semantic_errors %>
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#details">Details</a></li>
            <li><a href="#trailstops">Trail Stops</a></li>
            <li><a href="#sharing">Sharing</a></li>
        </ul>
        <div class="tab-content">
        <%= f.inputs do %>
            <div id="details">
                <h3 class="m-fieldset-subheader">Details</h3>
                <%= f.input :name, label: "Title" %>

                <%= render "admin/shared/toggle_published", resource: f.object %>

                <h3 class="m-fieldset-subheader">Image</h3>
                <%= f.fields_for :image, allow_destroy: true do |trail_image| %>
                    <%= trail_image.input :file, as: :file, hint: trail_image.object.file.attached? ? ix_image_tag(trail_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                    <%= trail_image.input :name %>
                <% end %>
                <h3 class="m-fieldset-subheader">Content</h3>
                <div class="m-wysiwyg-container<%= " error" if f.object.errors[:content].any? %>">
                    <%= f.rich_text_area :content %>
                    <% if f.object.errors[:content].any? %>
                        <p class="inline-errors"><%= f.object.errors[:content].first %></p>
                    <% end %>
                </div>
                <%= f.input :excerpt, input_html: {rows: 5} %>

                <h3 class="m-fieldset-subheader">Trail Distance</h3>
                <%= f.input :distance, input_html: {rows: 1} %>

                <h3 class="m-fieldset-subheader">Trail Duration</h3>
                <%= f.input :duration, input_html: {rows: 1} %>
            </div>

            <div id="trailstops">
                <h3 class="m-fieldset-subheader">Trail Stops</h3>
                <% f.has_many :trail_records, sortable: :position, allow_destroy: true do |trf| %>
                    <% trf.input :record, as: :searchable_select %>
                <% end %>
            </div>

            <%= render "admin/shared/sharing", resource: f.object %>

        <% end %>
    </div>
    </div>
        <%= f.actions %>
<% end %>