<%= semantic_form_for [:super_admin, @tenant, @tenant_pipeline], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.semantic_errors %>
    <%= f.inputs do %>
        <%= f.input :pipeline, as: :select, label: "Pipeline", collection: options_for_select(Humap::DataPipelines.all, f.object.pipeline) %>
        <%= f.text_area :settings, label: "Settings (JSON)" %>
    <% end%>
    <%= f.actions %>
<% end %>