<%= semantic_form_for [:admin, @tray_view], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs "Tray View" do %>
    <%= f.input :title %>
    <%= f.input :view_type, include_blank: false, collection: TrayView::VIEW_TYPES, input_html: { data: { not: 'introduction', action: 'hide', target: '#welcome-fields' } } %>
    <div class="m-wysiwyg-container">
      <%= f.rich_text_area :content %>
    </div>
    <div id="welcome-fields">
      <h3 class="m-fieldset-subheader">Highlighted Taxonomies</h3>
      <%= f.input :highlighted_taxonomies_title %>
      <%= f.input :highlighted_taxonomies_description, input_html: { rows: 5 } %>
      <%= f.input :highlighted_taxonomies, as: :searchable_select, label: "Taxonomies" %>
      
      <h3 class="m-fieldset-subheader">Highlighted Records</h3>
      <%= f.input :highlighted_records_title %>
      <%= f.input :highlighted_records, as: :searchable_select, label: "Records" %>

      <h3 class="m-fieldset-subheader">Highlighted Quick Starts</h3>
      <%= f.input :highlighted_quick_starts_title %>
      <%= f.input :highlighted_quick_starts_description, input_html: { rows: 5 } %>
      <%= f.input :highlighted_quick_starts, as: :searchable_select, label: "Quick Starts" %>
    </div>
  <% end %>
  <%= f.actions %>
<% end %>