<%= semantic_form_for [:admin, @taxonomy_term], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs "Term" do %>
      <%= f.input :name %>
      <%= f.input :taxonomy %>
  <% end%>
  <%= f.actions %>
<% end %>