<% singular = resource.class.to_s.demodulize.underscore %>
<div id="sharing" class="permalink-fields">
    <h3 class="m-fieldset-subheader">Permanent Short Link (Permalink)</h3>
    <p class=help-text>A permalink is a short link which will always redirect users to this <%= singular %>. It's useful if you want to put it in printed material or somewhere people need to type the address, like a sign.</p>
    <% if resource.persisted? %>

        <% if resource.permalink.present? %>
            <%= text_field_tag "permalink", resource.permalink.url, disabled: true %>
            <%= link_to "Recreate permalink", send(:"recreate_permalink_admin_#{singular}_path",resource), method: :put, data: {confirm: "Are you sure you want to re-create the link? The old link won't work any more. Don't do this if you've publicised the old one."}, class: "button" %>
        <% else resource.persisted? %>
            <%= link_to "Create permalink", send(:"create_permalink_admin_#{singular}_path",resource), method: :put, class: "button" %>
        <% end %>


        <% if resource.permalink.present? %>
            <div class="qr-code">
                <h3 class="m-fieldset-subheader">QR Code</h3>
                <p class="help-text">If you want to publicise this <%= singular %> somewhere people have their phones, you can use this QR code.</p>
                <%= image_tag qr_code_permalink_path(resource.permalink) %>
                <%= link_to qr_code_permalink_path(resource.permalink) do %>
                    <i class="fa fa-download"></i> Download QR Code
                <% end %>
            </div>
        <% end %>
    <% else %>
        <p class="help-text">When you've finished creating your <%= singular %>, you'll be able to generate a permalink here.</p>
    <% end %>

</div>