<% singular = resource.class.to_s.demodulize.underscore %>
<% if resource.persisted? %>
    <li class="string input required stringish" id="humap_overlays_overlay_state_input">
        <label for="humap_overlays_overlay_group_name" class="label">Status</label>
        <span class="status_tag <%= resource.published? ? "green" : "" %>"><%= resource.state %></span>
        <% if resource.may_publish? %>
                    <span class="action_item">
                    <%= link_to "Publish", send(:"publish_admin_#{singular}_path",resource), method: :put %>

                    </span>
        <% elsif resource.may_unpublish? %>
                    <span class="action_item">
                        <%= link_to "Unpublish", send(:"unpublish_admin_#{singular}_path",resource), method: :put %>
                    </span>

        <% end %>
    </li>
<% end %>