<%= semantic_form_for [:admin, @record], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <div class="tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li><a href="#basic-content">Basic Content</a></li>
        <li><a href="#media">Media</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#sharing">Sharing</a></li>
      </ul>
      <div class="tab-content">
          <%= f.inputs do %>
            <div id="basic-content">
                <h3 class="m-fieldset-subheader">Details</h3>
                <%= f.input :name, label: "Title" %>
                <%= f.input :date_from, as: :date_picker, label: "Date from" %>
                <%= f.input :date_to, as: :date_picker, label: "Date to" %>

                <%= render "admin/shared/toggle_published", resource: f.object %>

                <h3 class="m-fieldset-subheader">Main Image</h3>
                <%= f.fields_for :image, allow_destroy: true do |record_image| %>
                  <%= record_image.input :file, as: :file, hint: record_image.object.file.attached? ? ix_image_tag(record_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                  <%= record_image.input :name %>
                  <%= record_image.input :credit %>
                <% end %>

                <h3 class="m-fieldset-subheader">Content</h3>
                <div class="m-wysiwyg-container<%= " error" if f.object.errors[:content].any? %>">
                  <%= f.rich_text_area :content %>
                  <% if f.object.errors[:content].any? %>
                    <p class="inline-errors"><%= f.object.errors[:content].first %></p>
                  <% end %>
                </div>
                <%= f.input :excerpt, input_html: { rows: 5 } %>
            </div>

            <div id="media">
              <h3 class="m-fieldset-subheader">Image Gallery</h3>
              <% f.has_many :attached_images, heading: false, allow_destroy: ->(record_image) { record_image.id != f.object.image.try(&:id)} do |record_image| %>
                <% record_image.inputs do %>
                  <% record_image.input :file, as: :file, hint: record_image&.object&.file.attached? ? ix_image_tag(record_image.object.file.key, url_params: {w: 100, h: 100}) : "" %>
                  <% record_image.input :name %>
                  <% record_image.input :credit %>
                <% end %>
              <% end %>

              <h3 class="m-fieldset-subheader">Files</h3>
              <% f.has_many :attached_files, heading: false, allow_destroy: true do |record_file| %>
                <% record_file.inputs do %>
                  <% record_file.input :file, as: :file, hint: record_file&.object&.file.attached? ? record_file.object.file.filename.to_s : "" %>
                  <% record_file.input :name %>
                  <% record_file.input :credit %>
                <% end %>
              <% end %>

              <h3 class="m-fieldset-subheader">Videos</h3>
              <% f.has_many :attached_video_embeds, heading: false, allow_destroy: true do |record_video| %>
                    <% embed_html = record_video.object.metadata.try(:[],'html') %>
                    <% if embed_html.present? %>
                        <div class="embed">
                            <%= embed_html.html_safe %>
                        </div>
                    <% end %>

                <% record_video.inputs do %>
                  <% record_video.input :name %>
                  <% record_video.input :url %>
                <% end %>
              <% end %>
            </div>

            <div id="location">
              <div id="record-map" class="m-record-map-picker"></div>
              <% f.input :latitude, input_html: { id: "latitude", value: f.object.latitude } %>
              <% f.input :longitude, input_html: { id: "longitude", value: f.object.longitude } %>
            </div>

            <div id="categories">
              <%= f.inputs do %>
                <div class="category-container">
                  <% Taxonomy.all.order(:name).in_groups(3).each do |taxonomies| %>
                      <div class="col">
                          <% taxonomies.each do |taxonomy| %>
                              <% next if taxonomy.nil? %>
                              <div class="terms">
                                <h3><%= taxonomy.name %></h3>
                                <% taxonomy.taxonomy_terms.roots.order(:name).each do |term| %>
                                  <input type="checkbox"
                                        id=<%= "record_taxonomy_term_ids_#{term.id}" %>
                                        <%= "class=has-subterms" if taxonomy.display_as == "nested" && term.has_children? %>
                                        name="record[taxonomy_term_ids][]" value=<%= term.id %>
                                        <%= "checked" if f.object.taxonomy_terms.include?(term)%>>
                                  <label for=<%= "record_taxonomy_term_ids_#{term.id}" %>><%= term.name %></label><br>
                                    <% if term.has_children? && taxonomy.display_as == "nested" %>
                                      <div class="subterms" id=<%= "record_taxonomy_term_ids_#{term.id}" %>>
                                        <% term.children.order(:name).each do |subterm| %>
                                          <input type="checkbox"
                                                id=<%= "record_taxonomy_term_ids_#{subterm.id}" %>
                                                name="record[taxonomy_term_ids][]"
                                                value=<%= subterm.id %>
                                                <%= "checked" if f.object.taxonomy_terms.include?(subterm) && taxonomy.display_as == "nested" %>>
                                          <label for=<%= "record_taxonomy_term_ids_#{subterm.id}" %>><%= subterm.name %></label><br>
                                        <% end %>
                                      </div>
                                    <% end %>
                                <% end %>
                              </div>
                          <% end %>
                      </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <%= render "admin/shared/sharing", resource: f.object %>

          <% end %>
      </div>
  <%= f.actions %>
  </div>
<% end %>